PORT=3000
AWS_REGION=us-east-1
S3_BUCKET_NAME=elearning-platform-files-yourname
DB_HOST=your-rds-endpoint.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASS=ELearnPass123!
DB_NAME=elearndb
